body {
    background-color: rgb(250, 247, 240);
    font-family: Oxygen;
    color: #363062;
}

nav {
    /* background-color: rgb(152, 168, 248); */
}

ul.navBar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: end;
}

section.introCard {
    border: solid 1px #CDFCF6;
    background-image: url(/ASSETS/images/cardBG.jpg);
    background-size: cover;
    max-width: 1100px;
    margin: auto;
    box-shadow: -5px 5px 5px rgb(152, 168, 248, 60%);
    border-radius: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cardPhoto {
    border-radius: 50%;
    max-width: 55%;
    margin: auto;
    opacity: 100%;
    padding: 20px;
}

div.introCardText {
    text-align: center;
    margin: auto 4%;
}


.toolbox {
    display: flex;
    justify-content: space-around;
}

.toolbox>span {
    background-color: #98A8F8;
    border-radius: 20%;
    color: #CDFCF6;
}



@media screen and (orientation: portrait) {
    section.introCard {
        grid-template-columns: 1fr;
    }
}