body {
    background-color: rgb(54, 48, 98);
    font-family: Oxygen;

    display: flex;
    flex-direction: column;
    align-items: center;
}





header,
footer {
    max-width: 1000px;
    width: 100%;
}

ul.navBar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.navbar>li {
    color: #CDFCF6;
}

li>a:link {
    text-decoration: none;
}

li>a:visited {
    color: #CDFCF6;
}

li>a:hover {
    text-decoration: none;
    color: #FAF7F0;
    text-shadow: -.75px .75px rgb(152, 168, 248, 50%);
}

section.introCard {
    border: solid 1px #CDFCF6;
    background-image: url(ASSETS/images/cardBG.jpg);
    background-size: cover;
    min-height: 450px;
    box-shadow: -5px 5px 5px rgb(152, 168, 248, 60%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .25em;
    color: #363062;
}

#cardPhoto {
    border-radius: 50%;
    max-width: 280px;
    margin: auto;
    padding: 20px;
}

div.introCardText {
    text-align: center;
    margin: auto 4%;
}

#name,
#jobTitle {
    text-shadow: -1px 1px 3px rgb(152, 168, 248, 80%);
    margin: 0;
}

h1#name {
    font-size: 40px;
}

.toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbox>span {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    padding: 0px 12px;
}

.socialMedia {
    padding: 15px 0;
}


div.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5em;
    width: 100%;
    max-width: 1000px;
    margin-top: 2em;
    color: #363062;
}

.project {
    box-shadow: -5px 5px 5px rgb(152, 168, 248, 60%);
    border-radius: 20px;
    background-color: #FAF7F0;
    place-items: center;
    text-align: center;
}

.projectThumbnail {
    border-radius: 20px;
    width: 100%;
}

.projectDescription>span {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    padding: 0px 12px;
}


@media screen and (orientation: portrait) {
    section.introCard {
        grid-template-columns: 1fr;
    }

    #name {
        font-size: 10vw;
    }

    div.featuredProjects {
        grid-template-columns: 1fr;
        width: 100%;
        place-items: center;
        padding: .25em;
    }

    .project {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}