body {
    font-family: Oxygen;
    background-color: #01031D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

header,
footer {
    width: 100%;
    background-image: url(ASSETS/images/crinkleBG.jpg);
    background-size: cover;
}

header {
    mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.75),
            rgb(0 0 0 / 0));
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.75),
            rgb(0 0 0 / 0));

}

ul.navBar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 0;
    padding-top: 1em;
    max-width: 800px;
}

.navbar>li {
    color: #CDFCF6;
}

li>a:link {
    text-decoration: none;
    color: whitesmoke;
}

li>a:visited {
    color: whitesmoke;
}

li>a:hover {
    text-decoration: none;
    color: #FAF7F0;
    text-shadow: -.75px .75px rgb(205, 252, 246, 50%);
}

section.introCard {
    min-width: 200px;
    color: whitesmoke;
    text-align: center;
    padding: 3em;
    padding-top: 0;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0; */
}


div.introCardText {
    max-width: 800px;
    margin: 0 auto;
}

.introSummary {
    background-color: rgb(249, 121, 156, 80%);
    border-radius: 10px;
    padding: 1em;
    border: 1px solid #01031D
}

#name,
#jobTitle {
    text-shadow: -1px 1px 3px rgb(255, 255, 255, 80%);
}

h1#name {
    font-size: 50px;
    margin-bottom: 0;
}

.toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbox>span {
    background-color: #01031D;
    border-radius: 5px;
    color: #F14E79;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    padding: 0px 12px;
    margin: 0.25em;
}

.socialMedia {
    padding: 15px 0;
    text-align: center;
}



h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Viga', sans-serif;
}

h3 {
    color: #CDFCF6;
    font-size: 3em;
    letter-spacing: 1.5rem;
}

h4 {
    font-size: 1.25em;
}

div.featuredProjects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    color: #363062;
}

.project {
    box-shadow: -5px 5px 5px rgba(205, 252, 246, 50%);
    background-color: #FAF7F0;
    border-radius: 20px;
    place-items: center;
    text-align: center;
}

.projectThumbnail {
    border-radius: 20px;
    width: 100%;
}

.tools {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    padding: 0px 12px;
}

.contactContainer {
    margin: 0 auto;
    max-width: 800px;
}

#helloWorld {
    width: 100%;
    mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.95),
            rgb(0 0 0 / 0));
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.95),
            rgb(0 0 0 / 0));
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 75%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    color: #CDFCF6;
    line-height: 2.5em;
    border: 1px solid #CDFCF6;
    border-top: none;
    border-radius: 50px;
    padding: 0;
    box-shadow: -5px 5px 5px rgba(205, 252, 246, 50%);
    text-align: center;
}


#nameAndEmail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

select {
    width: 75%;
    max-width: 250px;
    text-align: center;
}

textarea {
    margin: 10px auto;
    display: block;
}

button {
    background-color: #363062;
    border: 1px solid #CDFCF6;
    color: #CDFCF6;
    padding: .5em;
    display: block;
    margin: 10px auto;
}


@media screen and (orientation: portrait) {
    section.introCard {
        grid-template-columns: 1fr;
    }

    .introSummary {
        margin-bottom: 8em;
    }

    div.featuredProjects {
        grid-template-columns: 1fr;
        width: 100%;
        place-items: center;
        padding: .25em;
    }

    h3 {
        font-size: 3em;
        letter-spacing: 0;
    }

    .project {
        /* display: grid; */
        max-width: 400px;
    }
}

@media screen and (orientation: landscape) {
    .introCardText {
        padding-right: 60px;
    }
}