body {
    font-family: Oxygen;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    max-width: 100vw;
    background-image: url(https://images.unsplash.com/photo-1467740100611-36858db27485?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);
    min-height: 100vh;
    padding: 1em;
    mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.98),
            rgb(0 0 0 / 0));
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.98),
            rgb(0 0 0 / 0));
}

ul.navBar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    padding-top: 1em;
    max-width: 800px;
}

.navbar>li {
    color: black;
}

li>a:link {
    text-decoration: none;
    color: black;
}

li>a:visited {
    color: white;
}

li>a:hover {
    text-decoration: none;
    color: #FAF7F0;
    background-color: #e8ddb5;
}

section.introCard {
    color: #e8ddb5;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 8rem 2rem 8rem 2rem;
}


/* div.introCardText {
    /* max-width: 800px; */
/* text-align: center; 
    width: 100%;*/

.introSummary {
    background-color: rgb(235, 242, 250, 80%);
    border-radius: 10px;
    border: 1px solid #666a86;
    box-shadow: -3px 3px 5px rgb(0, 0, 0, 60%);
    color: #666a86;
    /* width: 100%; */
    max-width: 700px;
    padding: 2em;
    height: fit-content;
    /* margin: 0 auto; */
    /* justify-content: flex-start; */
}

#name,
#jobTitle {
    text-shadow: -1px 1px 4px rgb(0, 0, 0, 90%);
    text-align: center;
    margin: 10px;
}

h1#name {
    font-size: 4.5em;
}

#jobTitle {
    font-size: 1.5em;
}

.toolbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.toolbox>span {
    background-color: #05668D;
    border-radius: 5px;
    color: white;
    box-shadow: -3px 3px 5px rgb(0, 0, 0, 60%);
    padding: 0px 12px;
    margin: 0.25em;
}

.socialMedia {
    padding: 15px 0;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Viga', sans-serif;
}

h3 {
    color: white;
    font-size: 3em;
    letter-spacing: 1.25rem;
}

h4 {
    font-size: 1.25em;
}

div.featuredProjects {
    display: flex;
    gap: 2em;
    width: 100%;
    /* max-width: 1000px; */
    margin: 0 auto;
    color: #363062;
    align-items: center;
    justify-content: center;
}

.project {
    box-shadow: -5px 5px 5px rgba(205, 252, 246, 50%);
    background-color: rgb(235, 242, 250);
    border-radius: 20px;
    margin: 0;
    text-align: center;
    width: 300px;
}

/* #rollingSconesCard {
    grid-column: span 3;
} */

.projectThumbnail {
    border-radius: 20px;
    width: 100%;
}

.tools {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    padding: 0px 12px;
}

.contactContainer {
    margin: 0 auto;
    max-width: 800px;
}

#helloWorld {
    width: 100%;
    mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.98),
            rgb(0 0 0 / 0));
    -webkit-mask-image: linear-gradient(rgb(0 0 0 / 1),
            rgb(0 0 0 / 0.98),
            rgb(0 0 0 / 0));
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    opacity: 75%;
}

form {
    max-width: 800px;
    margin: 0 auto;
    color: #CDFCF6;
    line-height: 2.5em;
    border: 1px solid #CDFCF6;
    border-top: none;
    border-radius: 50px;
    padding: 0;
    box-shadow: -5px 5px 5px rgba(205, 252, 246, 50%);
    text-align: center;
}


#nameAndEmail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}

select {
    width: 75%;
    max-width: 250px;
    text-align: center;
}

textarea {
    margin: 10px auto;
    display: block;
}

button {
    background-color: #363062;
    border: 1px solid #CDFCF6;
    color: #CDFCF6;
    padding: .5em;
    display: block;
    margin: 10px auto;
}


@media screen and (orientation: portrait) {
    header {
        padding: 1em;
    }

    section.introCard {
        flex-direction: column;
        margin-top: 3.5em;
    }

    .introSummary {
        margin-bottom: 8em;
    }

    div.featuredProjects {
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;
    }

    h3 {
        font-size: 3em;
        letter-spacing: 0;
    }

    .project {
        /* display: grid; */
        max-width: 400px;
    }

    #lastName {
        display: none;
    }


}

@media screen and (orientation: landscape) {
    /* section.introCard {
        height: 60vh;
        padding: auto 10em;
    } */

    header {
        background-size: 100% 100vh;
    }
}