body {
    background-image: rgb(250, 247, 240);
    font-family: Oxygen;
    color: #363062;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: #363062;
}

a:hover {
    text-decoration: none;
    color: #363062;
    text-shadow: -.75px .75px rgb(152, 168, 248, 50%);
}

a:visited {
    color: rgb(152, 168, 248);
}

header,
main,
footer {
    max-width: 1000px;
    width: 100%;
    object-fit: contain;
}

ul.navBar {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.contactCard {
    border: solid 1px #CDFCF6;
    background-image: url(/ASSETS/images/cardBG.jpg);
    background-size: cover;
    min-width: fit-content;
    box-shadow: -5px 1px 8px rgb(152, 168, 248, 60%);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 20px;
    padding: 20px;
}

#photoAndSocial {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contactCardPhoto {
    border-radius: 50%;
    max-width: 200px;
    margin: auto;
    box-shadow: -5px 1px 8px rgb(152, 168, 248, 85%)
}

.contactCardText {
    text-align: center;
    margin: auto;
    padding: 10px;
}


.contactCardText a {
    display: block;
}

.toolbox {
    /* display: flex;
    flex-wrap: wrap; */
}

.toolbox>span {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 5px rgb(152, 168, 248, 60%);
    /* padding: 0px 12px; */
    margin: 5px 5px;
}

/* REDUNDANT FIX THIS */
.toolbox {
    display: flex;
    justify-content: space-around;
}

.toolbox>span {
    background-color: rgb(54, 48, 98);
    border-radius: 5px;
    color: #CDFCF6;
    box-shadow: -3px 3px 8px rgb(152, 168, 248, 85%);
    padding: 0px 12px;
}

.accordion {
    box-shadow: -5px 1px 5px rgb(152, 168, 248, 60%);
    border-radius: 20px;
}

.accordion-button {
    background-color: rgb(152, 168, 248, 0.25);
    color: #363062;
    flex-direction: column;
    align-items: flex-start;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(54, 48, 98);
    color: #CDFCF6;
}

.accordion-item {
    background-color: rgb(250, 247, 240);
}

.timeAndLocation {
    font-family: italic;
}


@media screen and (orientation: portrait) {
    .contactCard {
        grid-template-columns: 1fr;
    }
}